.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inicio-navbar .nav-link{
  background-color: #7219d2 !important;
  color: white !important;
}

.header-color {
  background-color: #7219d2 !important;
}

.paginaprincipal {
  background-color: #ff6a0085;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
}
.footer{
  background-color: #7219d2 !important;
  color: white !important;

}
.main-content {
  flex: 1; /* El contenido principal ocupa el espacio disponible */
}

.nav-link-hover:hover {
  color: #0d6efd !important;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.main-content {
  min-height: calc(100vh - 200px);
}

.carousel {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.footer {
  border-top: 1px solid #dee2e6;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.1);
}

.footer {
  background-color: #f8f9fa;
  color: #212529;
}

.contacto {
  color: #212529;
}

.contacto i {
  color: #0d6efd;
  margin-right: 8px;
}

.contacto p {
  font-size: 1.1rem;
}


/* App.css */
.modal-backdrop {
  z-index: 1050 !important;
}
.modal {
  z-index: 2000 !important;
  display: block !important;
}